.slider-block {

    .toggle-container {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        button {
            text-transform: none;
        }
        button.Mui-selected {
            color: var(--theme-color);
        }
    }

    .slick-track,
    -slick-list {
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        margin-left: 0;
    }

    .slick-dots {
        display: flex;
        align-items: baseline;

        li button::before {
            font-size: 10px;
        }

        li.slick-active button:before {
            color: var(--theme-color);

        }
    }
}

.slide-option {
    padding: 10px;
    background-color: rgb(240, 237, 237);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}